{% load staticfiles %}

<script src="{% static 'js/layer/layer.js' %}"></script>

<!-- 登录、注册模态框（Modal） -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="container">
        <div id="loginbox" style="margin-top:80px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">登录</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">忘记密码？</a></div>
                </div>
                <div style="padding-top:30px" class="panel-body" >
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                        <form id="loginform" class="form-horizontal" role="form">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email" required="required">
                            </div>
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required="required">
                            </div>
                            <div class="input-group">
                                <div class="checkbox">
                                    <label>
                                        <input id="login-remember" type="checkbox" name="remember" value="1"> 记住我
                                    </label>
                              </div>
                            </div>
                            <div style="margin-top:10px" class="form-group" style="float:right;">
                                <!-- Button -->
                                <div class="col-sm-12 controls">
                                    <a id="btn-login" href="javascript:;" class="btn btn-success" onclick="userLogin()">登录</a>
                                    <a id="btn-login" href="javascript:;" class="btn btn-warning cancel-login-href">取消</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                        没有账号？
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">在此注册</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">注册</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">登录</a></div>
                </div>
                <div class="panel-body" >
                    <form id="signupform" class="form-horizontal" role="form">
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">邮箱</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" name="email" placeholder="请输入邮箱，用于激活注册链接及找回密码" id="register-email">
                            </div>
                        </div>
{#                        <div class="form-group">#}
{#                            <label for="firstname" class="col-md-3 control-label">First Name</label>#}
{#                            <div class="col-md-9">#}
{#                                <input type="text" class="form-control" name="firstname" placeholder="First Name">#}
{#                            </div>#}
{#                        </div>#}
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">用户名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="lastname" placeholder="请设置用户名" id="register-username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">密码</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passwd" placeholder="请设置密码，最少6位" id="register-pwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">确认密码</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="passwd" placeholder="请再次设置密码" id="register-pwd-again">
                            </div>
                        </div>
{#                        <div class="form-group">#}
{#                            <label for="icode" class="col-md-3 control-label">验证码</label>#}
{#                            <div class="col-md-9">#}
{#                                <input type="text" class="form-control" name="icode" placeholder="请输入邮箱中收到的验证码">#}
{#                            </div>#}
{#                        </div>#}
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right" onclick="userRegister()"></i> &nbsp 注册</button>
                                <span style="margin-left:8px;">or</span>
                                <button id="btn-signup" type="button" class="btn btn-warning cancel-login-href"><i class="icon-hand-right"></i> &nbsp 取消</button>
                            </div>
                        </div>
{#                        <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">#}
{#                            <div class="col-md-offset-3 col-md-9">#}
{#                                <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>#}
{#                            </div>#}
{#                        </div>#}
                    </form>
                 </div>
            </div>
         </div>
    </div>
</div>

<script>

    // 用户登录
    function userLogin() {
        var username = $('#login-username').val();
        var password = $('#login-password').val();
        var remember = $('#login-remember').val();
        $.ajax({
            url: "{% url 'user_login' %}",
            type: 'POST',
            dataType: 'JSON',
            data: {
                'username': username,
                'password': password,
                'remember': remember,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(resData){
                if(resData.status == 0){
                    layer.msg(resData.msg, {icon: 5});
                }else{
                    $('#loginModal').modal('hide');
                    layer.msg(resData.msg, {icon: 6});
                    setTimeout("window.location.reload(true);", 2000);

                }
            }
        })
    }

    // 用户注册
    function userRegister() {
        var email = $('#register-email').val();
        var username = $('#register-username').val();
        var pwd = $('#register-pwd').val();
        var pwd_again = $('#register-pwd-again').val();
        if(!username.trim()){
            alert('请设置用户名！');
            return false;
        }
    }

</script>