{% load blog_extras %}
<div class="container panel panel-default" style="position: fixed;bottom: 0; right: 0; width: 30%; display: none; border: 1px solid green;" id="tu-ling-liao-wo">
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body" style="height: 500px; overflow: auto;">
            <ul class="chat" id="chat-ul-robot">
                <span style="color: green;">赶紧和我聊天吧，什么问题都可以哦！</span>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input-kai-liao" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat" onclick="liaoWo()">
                        开撩
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="" style="width: 50px; float: right; display: none;">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" id="liao-wo-title">
                撩我吧
            </a>
        </h4>
    </div>
</div>
<button class="btn btn-info"  style="position: fixed;bottom: 0; right: 0; color: green;" onclick="showRobot()">撩我吧</button>

<input type="hidden" value="{% if user.is_authenticated %}{{ user.username }}{% else %}匿名发问者{% endif %}" id="hidden-username">
<input type="hidden" value="{% if user.is_authenticated %}{{ user|get_user_portrait }}{% else %}'/static/images/other/anonymous.jpg'{% endif %}" id="hidden-user-portrait">

{#脚本区#}
<script>

    // 弹出、隐藏机器人对话框
    function showRobot() {
        $('#tu-ling-liao-wo').fadeToggle(1000);
        $("#liao-wo-title").click();
    }

    // 开撩
    function liaoWo() {
        var info = $('#btn-input-kai-liao').val();
        var username = $("#hidden-username").val();
        var portrait = $("#hidden-user-portrait").val();
        if(!info.trim()){
            layer.msg('总得有个话题吧', {icon: 5});
            return false;
        }

        var send = "<li class='left clearfix'><span class='chat-img pull-left'>"+
                        "<img width='50px' height='50px' src="+ portrait + " alt='User Avatar' class='img-circle' />" +
                    "</span>" +
                    "<div class='chat-body clearfix'>" +
                        "<div class='header'>" + username + "<small class='pull-right text-muted'>" +
                    "<i class='fa fa-clock-o icon-bar'></i>" + '12 mins' + "</small>" +
                    "</div>" +
                    "<p>" + info + "</p>" +
                    "</div>" +
                    "</li>";
        $('#btn-input-kai-liao').val('');
        $("#chat-ul-robot").append(send);
        $("#tu-ling-liao-wo").scrollTop = $("#tu-ling-liao-wo").scrollHeight;

        $.ajax({
            url: "{% url 'tu_ling' %}",
            dataType: 'JSON',
            type: 'GET',
            data: {
                'info': $('#btn-input-kai-liao').val()
            },
            success: function(resData){
                var receive = '<li class="right clearfix"><span class="chat-img pull-right">' +
                                    '<img width="50px" height="50px" src="/static/images/other/robot.gif" alt="User Avatar" class="img-circle" />' +
                              '</span>' +
                              '<div class="chat-body clearfix">' +
                                  '<div class="header">' +
                                      '<small><i class="fa fa-clock-o icon-bar"></i>13 mins ago</small>' +
                                        '<strong class="pull-right primary-font">博客机器人</strong>'+
                                   '</div>' +
                                 '<p>' + resData.msg + '</p>' +
                            '</div>' +
                            '</li>';
                 $("#chat-ul-robot").append(receive);
            }
        })
    }

</script>