{% include 'common/head.html' %}
{% load staticfiles %}
{% load staticfiles %}
<script src="{% static 'js/layer/layer.js' %}"></script>
<script src="{% static 'js/vue/vue.js' %}"></script>
<script src="{% static 'js/vue/vue-resource.js' %}"></script>
<style>
    .chatTitleContainer {

    text-align: left;
    font-size: 14pt;
    vertical-align: middle;
    display: table-cell;
    height: 50px;
    width: 100%;
    font-family: Expert-Sans-Regular, verdana, Arial, helvetica, sans-serif;
    color: #b5b5b5;

}

.chatContainer {

    height: 100%;
    width: 100%;
    background-color: #e4e4e4;
    padding: 20px;

}

.chatHistoryContainer {

    padding: 20px;
    width: 100%;
    background-color: #f4f4f4;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #c3c3c3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-bottom: -30px;

}

.chatMessageControls {

    margin-top: 6px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #c3c3c3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

}

#undoSendButton {

    margin-left: 10px;
    border-radius: 3px;

}

#clearMessageButton {

    border-radius: 0;
    border-left: none;
    border-right: none;

}

#sendMessageButton {

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.fa {

    margin-right: 6px;

}



.formComments {

	list-style-type: none;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 60px;
    padding-left: 0px;

}

.formComments li {

	margin-bottom: 10px;

}

.commentstep-1 {

    margin-left: 0px;

}

.commentstep-2 {

    margin-left: 48px;

}

.commentstep-3 {

    margin-left: 96px;

}

.form-comments-table tr:nth-child(1) td:nth-child(1) {

    font-size: 9pt;
    color: #a7a7a7;
    white-space: nowrap;
    vertical-align: top;

}

.comment-user {

	margin-left: 10px;

}

.form-comments-table tr:nth-child(1) td:nth-child(1) {

    padding-top: 8px;

}
.form-comments-table tr:nth-child(1) td:nth-child(2) {

    padding-top: 8px;
    font-size: 9pt;
    color: #737373;
    font-weight: bold;
    vertical-align: top;

}

.form-comments-table tr:nth-child(1) td:nth-child(3) {

    vertical-align: top;

}

.form-comments-table tr:nth-child(1) td:nth-child(4) {

    width: 100%;

}

.form-comments-table tr:nth-child(1) td:nth-child(5) {


}

.comment-step-controls {



}

.comment-avatar {

	margin-left: 10px;
	margin-right: 10px;
	width: 36px;
	height: 36px;
	background-color: #c9c9c9;

}

.comment-avatar img {

	width: 36px;
	height: 36px;

}


.comment-marker {

	margin-right: 10px;
	color: #aeaeae;

}


.comment-step1:hover {


}

.comment {

    width: 100%;
    background-color: #fff;
    font-size: 12px;
	margin: 0;
	padding: 8px 8px;
	line-height: 1.5;
	color: #9e9e9e;
	border-color: #ddd;
	cursor: pointer;
	border: 1px solid #e6e6e6;
	border-bottom: 3px solid #dddddd;
	border-radius: 3px;

}

.comment:hover {

    background-color: #fafafa;

}

.comment-actions {

    border-top: 1px solid #dddddd;
    padding-top: 8px;
    margin-top: 8px;
    display: none;

}

.commentTD {


}

</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<div class="chatContainer">

    <div class="chatTitleContainer">留言板</div>
    <input type="hidden" id="hidden-nickname" {% if user.userextend.nickname %} value="yes" {% else %} value="no" {% endif %} >
	<div class="chatHistoryContainer">
        {% verbatim %}
        <ul class="formComments">
            <div v-for="msg in msg_arr">
                <li class="commentLi commentstep-1">
                    <table class="form-comments-table">
                        <tr>
                            <td><div class="comment-timestamp">{{ msg.leave_time }}</div></td>
                            <td><div class="comment-user"></div></td>
                            <td>
                                <div class="comment-avatar">
                                    <img :src="msg.leaver_portrait">
                                </div>
                            </td>
                            <td>
                                <div class="comment" onclick="commentsApp.slideDown(this)" onmouseleave="commentsApp.slideUp(this)">
                                    <span style="color: lightseagreen">{{ msg.leaver_name }}：</span>{{ msg.leave_msg }}
                                    <div class="comment-actions">
                                        <div class="input-group input-group-sm chatMessageControls">
                                            <span class="input-group-addon" id="sizing-addon3">回复：</span>
                                            <input type="text" class="form-control" placeholder="Type your message here.." aria-describedby="sizing-addon3">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="$(this).parent().parent().children('input').eq(0).val('')"><i class="fa fa-undo"></i>清除</button>
                                                <button class="btn btn-info" type="button" onclick="commentsApp.sendLeaveMsg(this, '{{ msg.id }}')"><i class="fa fa-paper-plane"></i>发送</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </li>
                <li class="commentLi commentstep-2" v-for="child in msg.childrens">
                    <table class="form-comments-table">
                        <tr>
                            <td><div class="comment-timestamp">2017-07-01 09:19:56</div></td>
                            <td><div class="comment-user"></div></td>
                            <td>
                                <div class="comment-avatar">
                                    <img :src="child.leaver_portrait">
                                </div>
                            </td>
                            <td>
                                <div class="comment">
                                    <span style="color: lightseagreen">{{ child.leaver_name }}：</span>{{ child.leave_msg }}
                                </div>
                            </td>
                        </tr>
                    </table>
                </li>
            </div>
        </ul>
        <ul class="pager" style="margin-top: -72px">
            <li v-if="previous === 'yes'" class="previous"><a onclick="commentsApp.getMoreMessage({{ page }}-1)">上一页</a></li>
            <li v-if="next === 'yes'" class="next"><a onclick="commentsApp.getMoreMessage({{ page }}+1)">下一页</a></li>
        </ul>
        {% endverbatim %}
	</div>

    <div class="input-group input-group-sm chatMessageControls">
        <span class="input-group-addon" id="sizing-addon3">留言：</span>
        <input type="text" class="form-control" placeholder="Type your message here.." aria-describedby="sizing-addon3">
        <span class="input-group-btn">
            <button id="clearMessageButton" class="btn btn-default" type="button" onclick="$(this).parent().parent().children('input').eq(0).val('')"><i class="fa fa-undo"></i>Clear</button>
            <button id="sendMessageButton" class="btn btn-info" type="button" onclick="commentsApp.sendLeaveMsg(this, '0')"><i class="fa fa-paper-plane"></i>Send</button>
        </span>
    </div>
</div>

{#<div style="background-image: url('/static/images/scenery/pic01.jpg');height: 109px; width: 100%;">#}
{#    欢迎留言#}
{#</div>#}


<script>

    $(function () {
        //页面加载完毕获取留言数据
        commentsApp.getMoreMessage('1');
    });

    var commentsApp = new Vue({
        el: ".chatHistoryContainer",
        data: {
            page: 1,
            msg_arr: new Array,
            previous: 'no',
            next: 'no'
        },
        methods: {
            getMoreMessage: function(p){
                layer.load();
                var url = '/get_more_message?page='+p;
                this.$http.get(url).then(
                    function(res){
                        console.log(res.body.msg_list);
{#                        for(var i=0; i<res.body.msg_list.length; i++){#}
{#                            commentsApp.msg_arr.push(res.body.msg_list[i])#}
{#                        }#}
                        commentsApp.msg_arr = res.body.msg_list;
                        commentsApp.page = res.body.current_page;
                        commentsApp.previous = res.body.previous;
                        commentsApp.next = res.body.next;
                        layer.closeAll('loading');
                    }
                )
            },
            slideDown: function (e) {
                $(e).stop().animate({opacity: "1", backgroundColor: "#fff", borderLeftWidth: "1px"},{duration: 100, complete: function() {}} );
                $(e).children('div').eq(0).slideDown("fast");
            },
            slideUp: function (e) {
                $(e).children('div').eq(0).slideUp("fast");
            },
            sendLeaveMsg: function (e, id) {
                // 判断用户是否填写过昵称
                var is_has = $('#hidden-nickname').val();
                if(is_has=='no'){
                    layer.open({
                        title: '请设置昵称',
                        content: '<input type="text" placeholder="该昵称不做为登录凭证" id="test-layer">',
                        yes: function(index, layero){
                            $.ajax({
                                url: "{% url 'set_nickname' %}",
                                type: 'GET',
                                dataType: 'JSON',
                                data: {
                                    'nickname': $('#test-layer').val()
                                },
                                success: function(res){
                                    if(res.status==1){
                                        layer.close(index);
                                        $('#hidden-nickname').val('yes');
                                    }else{
                                        layer.msg(res.msg, {icon: 2});
                                    }
                                }
                            })
                    }
                    });
                    return false;
                // 设置过昵称则可以进行留言
                }else{
                    var msg = $(e).parent().parent().children('input').eq(0).val();
                    var url = "{% url 'make_leave_comment_submit' %}";
                    if(!msg.trim()){
                        layer.msg('请输入留言内容！', {icon: 6});
                        return false;
                    }
                    var level = id == 0 ? 1 : 2;
                    var params = {'msg': msg, 'parent_id': id, 'level': level, 'csrfmiddlewaretoken': '{{ csrf_token }}'};
                    this.$http.post(url, params).then(
                        function (res) {
                            if(res.body.status==1){
                                layer.msg(res.body.msg, {icon: 1});
                                if(id==0){
                                    commentsApp.msg_arr.splice(0, 0, res.body.obj);
                                }else{
                                    for(var i=0; i<commentsApp.msg_arr.length; i++){
                                        if(commentsApp.msg_arr[i].id==id){
                                            commentsApp.msg_arr[i].childrens.splice(0, 0, res.body.obj);
                                            break;
                                        }
                                    }
                                }
                                $(e).parent().parent().children('input').eq(0).val('');
                            }else{
                                layer.msg(res.body.msg, {icon: 2});
                            }
                        }
                    )
                }
            }
        }
    });

</script>