{% include 'common/head.html' %}
{% load staticfiles %}
<script src="{% static 'js/layer/layer.js' %}"></script>
<script src="{% static 'js/vue/vue.js' %}"></script>
<script src="{% static 'js/vue/vue-resource.js' %}"></script>
<script src="{% static 'js/vue/index.js' %}"></script>
<style>
    /*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/
#login { display: none; }
.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 70px; }
.media-body { position: relative; }
.media-date {
    position: absolute;
    right: 25px;
    top: 15px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: -12px; }
.media-replied { margin: 0 0 5px 12px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 10px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
{#    background: #eee url('/static/images/portrait/pic04.jpeg');#}
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }
</style>
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="logout" style="width: 105%; margin-left: 0;margin-right: 0px;">
        <div class="page-header">
            <h3 class="reviews">在这里，可以查看并设置基本账号信息。</h3>
        </div>

        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#comments-logout" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">我的动态</h4></a></li>
                <li><a href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">我的消息</h4></a></li>
                <li><a href="#account-settings" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">账号设置</h4></a></li>
                <li><a href="#user-list" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">用户列表</h4></a></li>
            </ul>
            <div class="tab-content">
                {% verbatim %}
                <div class="tab-pane active" id="comments-logout">
                    <template v-if="msg_arr">
                    <ul class="media-list">
                        <li class="media" v-for="msg in msg_arr">
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle" :src="msg.leaver_portrait" alt="profile">
                            </a>
                            <div class="media-body">
                                <div class="well well-lg">
                                    <h4 class="text-uppercase " style="margin-top: -18px">{{ msg.leaver_name }}</h4>
                                    <span style="float: right; margin-top: -30px;"><i class="fa fa-clock-o icon-bar"></i> {{ msg.leave_time }}</span>
                                    <p class="media-comment">
                                        {{ msg.leave_msg }}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    </template>
                    <span v-else>赞无留言，快来抢沙发吧！</span>
                </div>
                {% endverbatim %}
                {% verbatim %}
                <div class="tab-pane" id="user-list">
                    <button style="float:right; margin-bottom: -10px; margin-top:-48px; margin-right: -13px; background-color: cadetblue; width: 34px;" class="btn btn-default">搜</button>
                    <div class="form-group" style="float:right; margin-right: 19px; margin-top:-48px; ">
                        <input style="width: 270px;" type="text" class="form-control" placeholder="搜索用户" v-model="filter_name">
                    </div>
                    <div class="container" id="tourpackages-carousel">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" v-for="user in user_arr">
                                <div class="thumbnail" style="height: 186px;">
                                    <div class="caption">
                                        <div class='col-lg-12'>
                                            <img width="50px" height="50px" class="img-circle" :src="user.portrait"> <span>{{ user.nickname }}</span>
                                        </div>
                                        <div class='col-lg-12'>
                                            <p>活跃指数：
                                                <i class="fa fa-star" aria-hidden="true" v-for="_ in user.level.star"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true" v-for="_ in user.level.half"></i>
                                                <i class="fa fa-star-o" aria-hidden="true" v-for="_ in user.level.no_star"></i>
                                            </p>
                                            <p>最近活跃时间: {{ user.date_joined }}</p>
                                            <p>粉丝数：{{ user.fans }}   发帖数：{{ user.posts }}</p>
                                            <p>邮件通知：<input type="checkbox" name="yyy" lay-skin="switch" lay-text="ON|OFF" checked></p>
                                        </div>
                                        <i :data-uid="user.id" onclick="guanZhu(this)" class='fa fa-heart-o' style="float:right; margin-top: -160px;" title="关注" v-if="user.attention === 'no'"></i>
                                        <i :data-uid="user.id" onclick="guanZhu(this)" class='fa fa-heart' style="float:right; margin-top: -160px;" title="取消关注" v-else></i>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End row -->
                    </div><!-- End container -->
                    <button style="float:right; color: lightseagreen;" onclick="userListApp.initUserList()" id="show-more-user">加载更过>>></button>
                </div>
                {% endverbatim %}
                <div class="tab-pane" id="add-comment">
                    <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Comment</label>
                            <div class="col-sm-10">
                              <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                  <div class="input-group-addon">http://</div>
                                  <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="account-settings">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="#" class="nav-tabs-dropdown btn btn-block btn-info">账号基本信息设置</a>
                            <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
                                <li class="active"><a href="#vtab1" data-toggle="tab">修改头像</a></li>
                                <li><a href="#vtab2" data-toggle="tab">修改密码</a></li>
                                <li><a href="#vtab3" data-toggle="tab">其他信息</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab-content" style="margin-top: -50px; border: 0;">
                                <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                                    <div class="form-group">
{#                                        <label for="avatar" class="col-sm-2 control-label">头像</label>#}
                                        <div class="col-sm-10">
                                            <div class="custom-input-file" style="background-image: url('/static/images/{{ user.userextend.portrait.img_category.name }}/{{ user.userextend.portrait.src }}')">
                                                <label class="uploadPhoto">上传
                                                    <form id="uploadForm" enctype="multipart/form-data">
                                                        <input type="file" class="change-avatar" name="avatar" id="avatar" onchange="changeAvatar()">
                                                    </form>
                                                </label>
                                            </div>
                                        </div>
                                        <label for="avatar" class="col-sm-2 control-label upload-pic-class" style="margin-top: -70px;margin-left: 164px; display: none;">--->>></label>
                                        <div class="col-sm-10 upload-pic-class" style="float:right; margin-top: -120px; margin-right: -120px; display: none;">
                                            <img width="120px" height="120px" class="img-circle" src="" alt="profile" id="upload-preview">
                                        </div>
                                        <label for="avatar" class="col-sm-2 control-label upload-pic-class" style="margin-top: -70px;margin-left: 428px; display: none;">--->>></label>
                                        <div class="col-sm-10 upload-pic-class" style="float:right; margin-top: -71px; margin-right: -373px; display: none;">
                                            <button onclick="submitAvatar()">确定</button>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="vtab2">
                                    <div class="form-group">
                                        <label for="newPassword" class="col-sm-2 control-label">原密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="oldPassword" id="oldPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword" class="col-sm-2 control-label">新密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="newPassword" id="newPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword" class="col-sm-2 control-label">确认新密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary btn-circle text-uppercase" type="submit" id="submit">保存修改</button>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="vtab3">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">用户名</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="您的登录用户名" value="{{ user.username }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nickName" class="col-sm-2 control-label">昵称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nickName" id="nickName" placeholder="该昵称并不作为您的登录凭证，只是在发帖时会展示" value="{{ user.userextend.nickname }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="vilma@mail.com" value="{{ user.email }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary btn-circle text-uppercase" type="submit" id="submit">保存修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
  </div>

  <div class="page-header text-center" id="show-more-div">
  </div>
  <div class="notes text-center"><small>Make The Wrold Smarter</small></div>
</div>

<script>

    $(function () {
        //页面加载完毕获取留言数据
{#        commentsApp.getMoreMessage();#}
        userListApp.initUserList();
    });

    Vue.filter('recordLength', function (result, key) {
        this.$set(key, result.length);
        return result;
    });

    var userListApp = new Vue({
        el: "#user-list",
        data: {
            user_arr: new Array,
            page: 1,
            filter_name: ''
        },
        methods: {
            initUserList: function () {
                layer.load();
                var url = '/get_user_list?page='+userListApp.page;
                this.$http.get(url).then(
                    function (res) {
                        console.log(res.body.user_list);
                        for(var i=0; i<res.body.user_list.length; i++){
                            userListApp.user_arr.push(res.body.user_list[i])
                        }
                        userListApp.page += 1;
                        layer.closeAll('loading');
                        if(res.body.next==0){
                            $('#show-more-user').text('已全部加载');
                            $('#show-more-user').attr('disabled', 'disabled');
                        }
                    }
                )
            }
        }
    });

    var commentsApp = new Vue({
        el: "#comments-logout",
        data: {
            page: 1,
            msg_arr: new Array
        },
        methods: {
            getMoreMessage: function(){
                layer.load();
                var url = '/get_more_message?page='+commentsApp.page;
                this.$http.get(url).then(
                    function(res){
                        console.log(res.body.msg_list);
                        for(var i=0; i<res.body.msg_list.length; i++){
                            commentsApp.msg_arr.push(res.body.msg_list[i])
                        }
                        commentsApp.page += 1;
                        layer.closeAll('loading');
                        if(res.body.current > 1){

                        }
                        if(res.body.next==0&&res.body.current>1){
                            $('#show-more-msg').remove();
                            $('#show-more-div').append("<h3>我是有底线的。。。</h3>")
                        }
                    }
                )
            }
        }
    });

    function makeCommentSubmit() {
        var msg = $('#leave-comment').val();
        if(!msg.trim()){
            layer.msg('请输入留言内容！', {icon: 6});
            return false;
        }
        $.ajax({
            url: "{% url 'make_leave_comment_submit' %}",
            dataType: 'JSON',
            type: 'POST',
            data: {
                'msg': msg,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(res){
                if(res.status==1){
                    $('#leaveModal').modal('hide');
                    layer.msg(res.msg, {icon: 1});
                }else{
                    layer.msg(res.msg, {icon: 2});
                }
            }
        })
    }

    function guanZhu(e) {
        $.ajax({
            url: "{% url 'guan_zhu_poster' %}",
            dataType: 'JSON',
            type: 'GET',
            data: {
                'uid': $(e).data('uid')
            },
            success: function(res){
                if(res.status == 1){
                    if(res.attention == 1){
                        layer.msg(res.msg, {icon: 1});
                        $(e).attr('title', '取消关注');
                        $(e).removeClass('fa fa-heart-o').addClass('fa fa-heart');
                    }else{
                        layer.msg(res.msg, {icon: 1});
                        $(e).attr('title', '关注');
                        $(e).removeClass('fa fa-heart').addClass('fa fa-heart-o');
                    }
                }else{
                    layer.msg(res.msg, {icon: 5})
                }
            }
        })
    }


    // 生成图片预览模式
    function changeAvatar() {
        var pic = document.getElementById("upload-preview"),
            file = document.getElementById("avatar");

        var ext = file.value.substring(file.value.lastIndexOf(".")+1).toLowerCase();

        // gif在IE浏览器暂时无法显示
        if(ext!='png'&&ext!='jpg'&&ext!='jpeg'){
            layer.msg("图片的格式必须为png或者jpg或者jpeg格式！", {icon: 5});
            return;
        }
        var isIE = navigator.userAgent.match(/MSIE/)!= null,
            isIE6 = navigator.userAgent.match(/MSIE 6.0/)!= null;

        if(isIE) {
            file.select();
            var reallocalpath = document.selection.createRange().text;

            // IE6浏览器设置img的src为本地路径可以直接显示图片
            if (isIE6) {
                pic.src = reallocalpath;
            }else {
                // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
                pic.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='image',src=\"" + reallocalpath + "\")";
                // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
                pic.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
             }
         }else {
            $(".upload-pic-class").css('display', 'block');
            html5Reader(file);
         }
    }
    // 预览模式 图片格式为base64编码
     function html5Reader(file){
         var file = file.files[0];
         var reader = new FileReader();
         reader.readAsDataURL(file);
         reader.onload = function(e){
             var pic = document.getElementById("upload-preview");
             pic.src=this.result;
         }
     }

     // 上传头像
    function submitAvatar(){
         var file = document.getElementById("avatar").files[0];
         var size = file.size;
         var type = file.type.split('/')[1].toUpperCase();
         if(type!='JPG'&&type!='JPEG'&&type!='PNG'){
             layer.msg('请选择JPG/PNG/JPEG格式的图片', {icon: 5});
             return;
         }
         if(size > 2*1024*1024){
             layer.msg('请上传2M以内的图片', {icon: 5});
             return;
         }

         $.ajax({
             url: "{% url 'upload_avatar' %}",
             dataType: 'JSON',
             type: 'POST',
             cache: false,
             data: new FormData($('#uploadForm')[0]),
             processData: false,
             contentType: false,
             success: function(res){
                 if(res.status == 1){
                     $('.custom-input-file').css("background-image","url("+res.img+")");
                     $(".upload-pic-class").css('display', 'none');
                     layer.msg(res.msg, {icon: 6});
                 }else{
                     layer.msg(res.msg, {icon: 5});
                 }
             }
         })
    }



</script>