{% include 'common/head.html' %}
{% load staticfiles %}
<script src="{% static 'js/layer/layer.js' %}"></script>
<script src="{% static 'js/vue/vue.js' %}"></script>
<script src="{% static 'js/vue/vue-resource.js' %}"></script>
{#<script src="{% static 'js/vue/index.js' %}"></script>#}
<link rel="stylesheet" href="{% static 'css/personal-center.css' %}" />
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" id="logout" style="width: 105%; margin-left: 0;margin-right: 0px;">
        <div class="page-header">
            <h3 class="reviews">在这里，可以查看并设置基本账号信息。</h3>
        </div>

        <div class="comment-tabs">
            <ul class="nav nav-tabs" role="tablist">
                {% if perms.blogSystem.add_post %}
                <li class="active"><a href="#my-post-list" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">我的动态</h4></a></li>
                {% endif %}
{#                <li><a href="#my-msg-list" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">我的消息</h4></a></li>#}
                <li {% if not perms.blogSystem.add_post %} class="active" {% endif %}><a href="#account-settings" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">账号设置</h4></a></li>
                <li><a href="#user-list" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">用户列表</h4></a></li>
            </ul>
            <div class="tab-content">
                {% if perms.blogSystem.add_post %}
                {% verbatim %}
                <div class="tab-pane active" id="my-post-list">
                    <template v-if="post_arr.length!=0">
                        <table class="table table-striped">
                            <tbody>
                                <tr v-for="post in post_arr">
                                    <td style="width: 5%;"># {{ $index + 1 }}</td>
                                    <td style="width: 65%;"><a :href="post.post_detail_path">{{ post.summary }}</a></td>
                                    <td style="width: 10%;">普通</td>
                                    <td style="width: 20%;">{{ post.time }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="pager" style="margin-bottom: -30px">
                            <li v-if="previous === 'yes'" class="previous"><a onclick="postListApp.getPostList({{ page }}-1)">上一页</a></li>
                            <li v-if="next === 'yes'" class="next"><a onclick="postListApp.getPostList({{ page }}+1)">下一页</a></li>
                        </ul>
                    </template>
                    <template v-else>
                    <span>您还没有发表过任何帖子哦！</span>
                    </template>
                </div>
                {% endverbatim %}
                {% endif %}
                {% verbatim %}
                <div class="tab-pane" id="user-list">
                    <button style="float:right; margin-bottom: -10px; margin-top:-48px; margin-right: -13px; background-color: cadetblue; width: 34px;" class="btn btn-default">搜</button>
                    <div class="form-group" style="float:right; margin-right: 19px; margin-top:-48px; ">
                        <input style="width: 270px;" type="text" v-model="filter_name" class="form-control" placeholder="搜索用户">
                    </div>
                    <div class="container" id="tourpackages-carousel">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" v-for="user in user_arr|filterBy filter_name in 'nickname' ">
                                <div class="thumbnail" style="height: 186px;">
                                    <div class="caption">
                                        <div class='col-lg-12'>
                                            <img width="50px" height="50px" class="img-circle" :src="user.portrait"> <span>{{ user.nickname }}</span>
                                        </div>
                                        <div class='col-lg-12'>
                                            <p>活跃指数：
                                                <i class="fa fa-star" aria-hidden="true" v-for="_ in user.level.star"></i>
                                                <i class="fa fa-star-half-o" aria-hidden="true" v-for="_ in user.level.half"></i>
                                                <i class="fa fa-star-o" aria-hidden="true" v-for="_ in user.level.no_star"></i>
                                            </p>
                                            <p>最近活跃时间: {{ user.date_joined }}</p>
                                            <p>粉丝数：<span :id="user.id">{{ user.fans }}</span>   发帖数：{{ user.posts }}</p>

                                            <p v-if="user.attention === 'yes'">
                                                邮件通知：
                                                <input :data-uid="user.id" type="radio" :name="user.id" :checked="user.email_notice == '1' ? true : false" @change="emailNoticeUser(user, 1)" value="1">开
                                                <input :data-uid="user.id" type="radio" :name="user.id" :checked="user.email_notice == '0' ? true : false" @change="emailNoticeUser(user, 0)" value="0">关
                                            </p>
                                            <p v-else>
                                                邮件通知：请先关注该用户
                                            </p>

                                            <p v-if="user.attention === 'no'"><i @click="guanZhuUser(user)" :data-uid="user.id" class='fa fa-heart-o' style="float:right; margin-top: -160px;" title="关注"></i></p>
                                            <p v-else><i @click="guanZhuUser(user)" :data-uid="user.id" class='fa fa-heart' style="float:right; margin-top: -160px;" title="取消关注"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End row -->
                    </div><!-- End container -->
                    <button style="float:right; color: lightseagreen;" onclick="userListApp.initUserList()" id="show-more-user">加载更过>>></button>
                </div>
                {% endverbatim %}
{#                <div class="tab-pane" id="my-msg-list">#}
{#                    <table class="table table-striped">#}
{#                        <tbody>#}
{#                            <tr>#}
{#                                <td style="width: 5%;"># 1 <i class="fa fa-comments-o" aria-hidden="true"></i></td>#}
{#                                <td style="width: 75%;"><a>django教程第一课</a></td>#}
{#                                <td style="width: 20%;">2017-07-07 10:10:12</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="width: 5%;"># 2 <i class="fa fa-reply-all" aria-hidden="true"></i></td>#}
{#                                <td style="width: 75%;"><a>django教程第一课</a></td>#}
{#                                <td style="width: 20%;">2017-07-07 10:10:12</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="width: 5%;"># 3 <i class="fa fa-bell-o" aria-hidden="true"></i></td>#}
{#                                <td style="width: 75%;"><a>django教程第一课</a></td>#}
{#                                <td style="width: 20%;">2017-07-07 10:10:12</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="width: 10%;">Sachin</td>#}
{#                                <td>Tanmay</td>#}
{#                            </tr>#}
{#                            <tr>#}
{#                                <td style="width: 10%;">Uma</td>#}
{#                                <td>Tanmay</td>#}
{#                            </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
                <div class="tab-pane {% if not perms.blogSystem.add_post %}active{% endif %}" id="account-settings">
                    <div class="row">
                        <div class="col-sm-3">
                            <a href="javascript:;" class="nav-tabs-dropdown btn btn-block btn-info">账号基本信息设置</a>
                            <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
                                <li class="active"><a href="#vtab1" data-toggle="tab">修改头像</a></li>
                                <li><a href="#vtab2" data-toggle="tab">修改密码</a></li>
                                <li><a href="#vtab3" data-toggle="tab">其他信息</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab-content" style="margin-top: -50px; border: 0;">
                                <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
                                    <div class="form-group">
{#                                        <label for="avatar" class="col-sm-2 control-label">头像</label>#}
                                        <div class="col-sm-10">
                                            <div class="custom-input-file" style="background-image: url('/static/images/{{ user.userextend.portrait.img_category.name }}/{{ user.userextend.portrait.src }}')">
                                                <label class="uploadPhoto">上传
                                                    <form id="uploadForm" enctype="multipart/form-data">
                                                        <input type="file" class="change-avatar" name="avatar" id="avatar" onchange="changeAvatar()">
                                                    </form>
                                                </label>
                                            </div>
                                        </div>
                                        <label class="col-sm-2 upload-pic-class" disabled="disabled" style="margin-top: -70px;margin-left: 164px; display: none;">--->>></label>
                                        <div class="col-sm-10 upload-pic-class" style="float:right; margin-top: -120px; margin-right: -120px; display: none;">
                                            <img width="120px" height="120px" class="img-circle" src="" disabled="disabled" alt="profile" id="upload-preview">
                                        </div>
                                        <label class="col-sm-2 upload-pic-class" disabled="disabled" style="margin-top: -70px;margin-left: 428px; display: none;">--->>></label>
                                        <div class="col-sm-10 upload-pic-class" style="float:right; margin-top: -71px; margin-right: -373px; display: none;">
                                            <button onclick="submitAvatar()">确定</button>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="vtab2">
                                    <div class="form-group">
                                        <label for="newPassword" class="col-sm-2 control-label">原密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="请输入原密码">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword" class="col-sm-2 control-label">新密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="newPassword" id="newPassword" placeholder="密码长度6-10位，以字母开头，只能输入字母、数字、下划线">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword" class="col-sm-2 control-label">确认新密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="请确认新密码，密码长度6-10位，以字母开头，只能输入字母、数字、下划线">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-primary btn-circle text-uppercase" onclick="changePwd()">保存修改</button>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="vtab3">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">用户名</label>
                                        <div class="col-sm-10">
                                            <input type="text" style="width: 380px;" class="form-control" name="name" id="name" placeholder="您的登录用户名" value="{{ user.username }}" onfocus="$('.display-none-class').css('display', 'none'); $(this).parent().children('button').css('display', 'block')">
                                            <button class="display-none-class" style="float:right; margin-top: -30px; margin-right: 50px; display: none;" onclick="changeOther('name')">修改</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nickName" class="col-sm-2 control-label">昵称</label>
                                        <div class="col-sm-10">
                                            <input type="text" style="width: 380px;" class="form-control" name="nickName" id="nickName" placeholder="该昵称并不作为您的登录凭证，只是在发帖时会展示" value="{{ user.userextend.nickname }}" onfocus="$('.display-none-class').css('display', 'none'); $(this).parent().children('button').css('display', 'block')">
                                            <button class="display-none-class" style="float:right; margin-top: -30px; margin-right: 50px; display: none;" onclick="changeOther('nickName')">修改</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                                        <div class="col-sm-10">
                                            <input type="email" style="width: 380px;" class="form-control" name="email" id="email" placeholder="vilma@mail.com" value="{{ user.email }}" onfocus="$('.display-none-class').css('display', 'none'); $(this).parent().children('button').css('display', 'block')">
                                            <button class="display-none-class" style="float:right; margin-top: -30px; margin-right: 50px; display: none;" onclick="changeOther('email')">修改</button>
                                        </div>
                                    </div>
{#                                    <div class="form-group">#}
{#                                        <div class="col-sm-offset-2 col-sm-10">#}
{#                                            <button class="btn btn-primary btn-circle text-uppercase" onclick="changeOther()">保存修改</button>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
  </div>

  <div class="page-header text-center" id="show-more-div">
  </div>
  <div class="notes text-center"><small>Make The Wrold Smarter</small></div>
</div>

<script>

    $(function () {
        //页面加载完毕初始化数据
        {% if perms.blogSystem.add_post %}
        postListApp.getPostList('1');
        {% endif %}
        userListApp.initUserList();
    });

    // 用户列表APP
    var userListApp = new Vue({
        el: "#user-list",
        data: {
            user_arr: new Array,
            page: 1,
            filter_name: ''
        },
        methods: {
            initUserList: function () {
                layer.load();
                var url = '/get_user_list?page='+userListApp.page;
                this.$http.get(url).then(
                    function (res) {
                        console.log(res.body.user_list);
                        for(var i=0; i<res.body.user_list.length; i++){
                            userListApp.user_arr.push(res.body.user_list[i])
                        }
                        userListApp.page += 1;
                        layer.closeAll('loading');
                        if(res.body.next==0){
                            $('#show-more-user').text('已全部加载');
                            $('#show-more-user').attr('disabled', 'disabled');
                        }
                    }
                )
            },
            guanZhuUser: function (e) {
                var url = '/guan_zhu_poster/?uid='+e.id;
                this.$http.get(url).then(
                    function (res) {
                        if(res.body.status == 1){
                            if(res.body.attention == 1){
                                layer.msg(res.body.msg, {icon: 1});
                                e.attention = 'yes';
                                e.fans += 1;
                            }else{
                                layer.msg(res.body.msg, {icon: 1});
                                e.attention = 'no';
                                e.fans -= 1;
                            }
                        }else{
                            layer.msg(res.body.msg, {icon: 5})
                        }
                    }
                )
            },
            emailNoticeUser: function (e, type) {
                var uid = e.id;
                var url = '/email_notice_user/?uid='+uid;
{#                var old = $("input[name='email-notice-"+uid+"']:checked").val();#}
                this.$http.get(url).then(
                    function (res) {
                        if(res.body.status == 1){
                            layer.msg(res.body.msg, {icon: 1});
                        }else{
                            layer.msg(res.body.msg, {icon: 5});
{#                            $("input[name='"+uid+"'][value="+old+"]").attr("checked", true);#}
                        }
                    }
                )
            }
        }
    });

    var postListApp = new Vue({
        el: "#my-post-list",
        data: {
            page: 1,
            post_arr: new Array,
            previous: 'no',
            next: 'no'
        },
        methods: {
            getPostList: function(p){
                layer.load();
                var url = '/get_user_post?page='+p;
                this.$http.get(url).then(
                    function(res){
                        console.log(res.body.post_list);
                        postListApp.post_arr = res.body.post_list;
                        postListApp.page = res.body.current_page;
                        postListApp.previous = res.body.previous;
                        postListApp.next = res.body.next;
                        layer.closeAll('loading');
                    }
                )
            }
        }
    });


    // 生成图片预览模式
    function changeAvatar() {
        var pic = document.getElementById("upload-preview"),
            file = document.getElementById("avatar");

        var ext = file.value.substring(file.value.lastIndexOf(".")+1).toLowerCase();

        // gif在IE浏览器暂时无法显示
        if(ext!='png'&&ext!='jpg'&&ext!='jpeg'){
            layer.msg("请选择JPG/PNG/JPEG格式的图片", {icon: 5});
            return;
        }
        var isIE = navigator.userAgent.match(/MSIE/)!= null,
            isIE6 = navigator.userAgent.match(/MSIE 6.0/)!= null;

        if(isIE) {
            file.select();
            var reallocalpath = document.selection.createRange().text;

            // IE6浏览器设置img的src为本地路径可以直接显示图片
            if (isIE6) {
                pic.src = reallocalpath;
            }else {
                // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
                pic.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='image',src=\"" + reallocalpath + "\")";
                // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
                pic.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
             }
         }else {
            $(".upload-pic-class").css('display', 'block');
            html5Reader(file);
         }
    }
    // 预览模式 图片格式为base64编码
     function html5Reader(file){
         var file = file.files[0];
         var reader = new FileReader();
         reader.readAsDataURL(file);
         reader.onload = function(e){
             var pic = document.getElementById("upload-preview");
             pic.src=this.result;
         }
     }

     // 上传头像
    function submitAvatar(){
         var file = document.getElementById("avatar").files[0];
         var size = file.size;
         var type = file.type.split('/')[1].toUpperCase();
         if(type!='JPG'&&type!='JPEG'&&type!='PNG'){
             layer.msg('请选择JPG/PNG/JPEG格式的图片', {icon: 5});
             return;
         }
         if(size > 2*1024*1024){
             layer.msg('请上传2M以内的图片', {icon: 5});
             return;
         }

         $.ajax({
             url: "{% url 'upload_avatar' %}",
             dataType: 'JSON',
             type: 'POST',
             cache: false,
             data: new FormData($('#uploadForm')[0]),
             processData: false,
             contentType: false,
             success: function(res){
                 if(res.status == 1){
                     $('.custom-input-file').css("background-image","url("+res.img+")");
                     $(".upload-pic-class").css('display', 'none');
                     layer.msg(res.msg, {icon: 6});
                 }else{
                     layer.msg(res.msg, {icon: 5});
                 }
             }
         })
    }

    // 修改密码
    function changePwd() {
        var old_pwd = $('#oldPassword').val();
        var new_pwd = $('#newPassword').val();
        var confirm_pwd = $('#confirmPassword').val();
        if(!old_pwd.trim()||!new_pwd.trim()||!confirm_pwd.trim()){
            layer.msg('密码不允许为空', {icon: 5});
            return;
        }
        if(new_pwd!=confirm_pwd){
            layer.msg('两次输入密码不一致', {icon: 5});
            return;
        }
        $.ajax({
            url: "{% url 'change_pwd' %}",
            dataType: 'JSON',
            type: 'POST',
            data: {
                'old_pwd': old_pwd,
                'new_pwd': new_pwd,
                'confirm_pwd': confirm_pwd
            },
            success: function(res){
                if(res.status == 1){
                    layer.msg(res.msg, {icon: 6});
                }else{
                    layer.msg(res.msg, {icon: 5});
                }
            }
        })
    }
    
    // 修改其他信息
    function changeOther(type) {
        var value = $('#'+type).val();
        layer.load();
        $.ajax({
            url: "{% url 'change_other' %}",
            dataType: 'JSON',
            type: 'POST',
            data: {
                'type': type,
                'value': value
            },
            success: function(res){
                layer.closeAll('loading');
                if(res.status == 1){
                    layer.msg(res.msg, {icon: 6});
                }else{
                    layer.msg(res.msg, {icon: 5});
                }
            }
        })
    }

</script>