{% include 'common/head.html' %}
{% load staticfiles %}
{% load blog_extras %}

<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/post-list.css' %}"/>
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap/blueimp-gallery.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-image-gallery.min.css' %}" />

<script src="/static/js/bootstrap/bootstrap-image-gallery.js"></script>
<script src="/static/js/jquery.blueimp-gallery.min.js"></script>

{#面包屑#}
{% include 'common/breadcrumb.html' %}

{#post list列表页#}
<div class="container" style="width:70%;margin:20px; float: left; margin-left: 66px;">
{% if posts %}
    {% for post in posts %}
        <div class="well">
            <div class="media">
                <a class="pull-left" href="/static/images/{{ post.img.img_category.name }}/{{ post.img.src }}" data-gallery>
                    <img width="150px" height="150px" class="media-object" src="/static/images/{{ post.img.img_category.name }}/{{ post.img.src }}">
                </a>
                <div class="media-body">
                    <a href="{{ post.post_detail_path }}"><h4 class="media-heading">{{ post.title }}</h4></a>
                    <p class="text-right">By <a href="{% url 'user_post' post.author.user.id post.author.user.userextend.nickname %}">{{ post.author.user.userextend.nickname }}</a></p>
                    <p>{{ post.summary|truncatechars:100 }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="fa fa-clock-o icon-bar"></i>{{ post.post_time|timesince }} ago</span></li>
                        <li>|</li>
                        <span><i class="fa fa-bars"></i> {{ post.get_comment_count }} 评论</span>
                        <li>|</li>
                        <li>
                            <span><i class="fa fa-eye icon"></i> {{ post.scan }} 阅读</span>
                        </li>
                        <li>|</li>
                        <li>
                            <span><i class="fa fa-share icon"></i> {% get_post_related_num post 'share' %} 分享</span>
                        </li>
                    </ul>
                    <span style="float:right; color: lightseagreen;">{{ post.get_post_cat }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    {% if not q %}
        <span>该板块暂无内容，请稍后再来。</span>
    {% endif %}
{% endif %}
<hr>
<ul class="pagination pagination-lg">
    <li><a {% if posts.number == 1 %} disabled="disabled" {% else %} href="?page=1{% if q %}&q={{ q }}{% endif %}" {% endif %}>首页</a></li>
    <li><a {% if posts.has_previous %} href="?page={{ posts.previous_page_number }}{% if q %}&q={{ q }}{% endif %}" {% else %} disabled="disabled" {% endif %}> « </a></li>
    <li><a {% if posts.has_next %} href="?page={{ posts.next_page_number }}{% if q %}&q={{ q }}{% endif %}" {% else %} disabled="disabled" {% endif %}> » </a></li>
    <li><a {% if posts.number == posts.paginator.num_pages %} disabled="disabled" {% else %} href="?page={{ posts.paginator.num_pages }}{% if q %}&q={{ q }}{% endif %}" {% endif %}>末页</a></li>
</ul>
</div>

<div class="pagination pagination-lg">
    技术杂谈标签<br><br>
    <button>Python</button>
    <button>JS</button>
    <button>Linux</button>
</div>

{#相册弹出层#}
{% include 'common/bootstrapGallery.html' %}

{#机器人对话框#}
{% include 'common/tuling.html' %}

<script>

    $(function(){
        if('{{ q }}'&&'{{ show }}'=='yes'){
            if('{{ count }}' > 0){
                layer.open({
                    content: '本次搜索匹配结果 <span style="color: green">'+'{{ count }}'+'</span> 条<br>本次搜索耗时：'+ '{{ time }}'
                })
            }else{
                layer.open({
                    content: '未匹配到任何结果，尝试其他关键词<br>本次搜索耗时：'+ '{{ time }}'
                })
            }
        }
    });
</script>

	</body>
</html>