{% include 'common/head.html' %}
{% load staticfiles %}
{% load blog_extras %}

<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/post-list.css' %}"/>
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap/blueimp-gallery.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-image-gallery.min.css' %}" />

<script src="/static/js/bootstrap/bootstrap-image-gallery.js"></script>
<script src="/static/js/jquery.blueimp-gallery.min.js"></script>

{#面包屑#}
{% include 'common/breadcrumb.html' %}

{#post list列表页#}
<div class="container" style="width:70%;margin:20px; float: left; margin-left: 66px;">
{% if posts %}
    {% if time %}<span>本次搜索耗时：{{ time }}</span>{% endif %}
    {% for post in posts %}
        <div class="well">
            <div class="media">
                <a class="pull-left" href="/static/images/{{ post.img.img_category.name }}/{{ post.img.src }}" data-gallery>
                    <img width="150px" height="150px" class="media-object" src="/static/images/{{ post.img.img_category.name }}/{{ post.img.src }}">
                </a>
                <div class="media-body">
                    <a href="{{ post.post_detail_path }}"><h4 class="media-heading">{{ post.title }}</h4></a>
                    <p class="text-right">By <a href="{% url 'user_post' post.author.user.id post.author.user.userextend.nickname %}">{{ post.author.user.userextend.nickname }}</a></p>
                    <p>{{ post.summary|truncatechars:100 }}</p>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="fa fa-clock-o icon-bar"></i>{{ post.post_time|timesince }} ago</span></li>
                        <li>|</li>
                        <span><i class="fa fa-bars"></i> {{ post.get_comment_count }} 评论</span>
                        <li>|</li>
                        <li>
                            <span><i class="fa fa-eye icon"></i> {{ post.scan }} 阅读</span>
                        </li>
                        <li>|</li>
                        <li>
                            <span><i class="fa fa-share icon"></i> {% get_post_related_num post 'share' %} 分享</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    {% if time %}
        <span>未搜索到任何结果</span>
        <br>
        <span>您可以搜索其他关键词</span>
        <br>
        <span>本次搜索耗时：{{ time }}</span>
    {% endif %}
{% endif %}
</div>

{#相册弹出层#}
{% include 'common/bootstrapGallery.html' %}

{#机器人对话框#}
{% include 'common/tuling.html' %}

	</body>
</html>